html {
    margin: 0;
    padding: 0;
  }
  
  h5 {
    text-align: center;
    padding: 0;
  }
  
  .selfie {
    display: block;
    margin: auto;
    height: 400px;
    width: 50%;
    max-height: 400px;
    max-width: 70%
  }
  
  .container {
    width: 500px;
    height: 120px;
    margin: auto;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  nav {
    padding-top: 200px;
    text-align: left;
  }
  
  .skills {
    text-align: left;
    padding-top: 10px;
  }
  
  body {
    font: 150% georgia, sans-serif;
    line-height: 1.88889;
    color: #555753;
    background: no-repeat bottom right;
    margin: 0;
    padding: 0;
    background-color: rgb(223, 223, 223);
  }
  
  main article section h3 {
    font-size: 50px;
    color: maroon;
  }
  
  p {
    margin-top: 0;
    text-align: justify;
  }
  
  h1 {
    font: italic strong 1.4em georgia, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20;
    color: maroon;
    text-align: center
  }
  
  a:link {
    font-weight: bold;
    text-decoration: none;
    color: maroon;
  }
  
  a:visited {
    font-weight: bold;
    text-decoration: none;
    color: blue;
  }
  
  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
    color: red;
  }
  
  abbr {
    border-bottom: none;
  }
  
  
  